<h1>New Ingredient:</h1>
<%= form_for @ingredient, url:{controller: 'ingredient', action:'create'}, html:{method:'post'} do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create Ingredient" %>
<% end %>
